* {
  background-color: rgba(0, 0, 0, 0.953);
  margin: 0;
  padding: 0;
}

.list-container .card {
  background-color: rgba(0, 0, 0, 0.953);
  border: none !important;
  box-shadow: 10px 0px 20px rgba(255, 255, 0, 0.155);
  position: relative;
  transition: all 0.2s ease;
  max-width: 18rem;
}

@media (max-width: 768px) {
  .list-container {
    display: flex;
    justify-content: center !important;
  }
}

.list-container .card:hover {
  transform: scale(1.01);
}

.list-container .card:hover::after {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  content: "View details";
  background-color: rgba(0, 0, 0, 0.449);
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 1.2rem;
}
